.arrowRight-tomorrow {
  border: solid white;
  border-width: 0 0.8vh 0.8vh 0;
  width: 4vh;
  height: 4vh;
  position: absolute;
  transform: rotate(-45deg);
  top: 50vh;
  opacity: 0.7;
  right: 4.5vw;
}

.arrowRight-later, .arrowRight-now {
  border: solid white;
  border-width: 0 0.8vh 0.8vh 0;
  width: 4vh;
  height: 4vh;
  position: absolute;
  transform: rotate(-45deg);
  top: 50vh;
  opacity: 0.7;
  right: 4.5vw;
}

.arrowLeft-later {
  border: solid white;
  border-width: 0 0.8vh 0.8vh 0;
  width: 4vh;
  height: 4vh;
  position: absolute;
  transform: rotate(135deg);
  top: 50vh;
  opacity: 0.7;
  left: 4.5vw;
}

.arrowLeft-tomorrow, .arrowLeft-now {
  border: solid white;
  border-width: 0 0.8vh 0.8vh 0;
  width: 4vh;
  height: 4vh;
  position: absolute;
  transform: rotate(135deg);
  top: 50vh;
  opacity: 0.7;
  left: 4.5vw;
}

body {
  background: #3a3a3a;
  overflow: hidden;
  opacity: 0;
  transition: opacity 10s;
}

.App {
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3a3a3a;
  transform: scale(1.01);
}

.Slider {
  height: 100%;
  width: 100%;
  position: inherit;
}

.WeatherNow {
  height: 100%;
  width: 100%;
  position: absolute;
  text-align: center;
  font-family: "Arial", sans-serif;
}
.WeatherNow:target {
  animation: slideInAlt 1s forwards;
}

.WeatherTomorrow {
  height: 100%;
  width: 100%;
  position: absolute;
  text-align: center;
  font-family: "Arial", sans-serif;
  right: 100vw;
}
.WeatherTomorrow:target {
  animation: slideIn 1s forwards;
}

.WeatherLater {
  height: 100%;
  width: 100%;
  position: absolute;
  text-align: center;
  font-family: "Arial", sans-serif;
  right: 200vw;
}
.WeatherLater:target {
  animation: slideIn 1s forwards;
}

.WeatherNowBg, .WeatherTomorrowBg, .WeatherLaterBg {
  height: 100%;
  width: 100%;
  position: absolute;
  text-align: center;
  font-family: "Arial", sans-serif;
}

.Weather {
  position: absolute;
  animation: fadeIn 6s;
}

.Temp {
  font-size: 30vh;
  color: white;
  position: absolute;
  top: 50vh;
  left: 15vw;
}

.TempApparent {
  font-size: 5vh;
  color: white;
  position: absolute;
  top: 79.5vh;
  left: 14vw;
  font-weight: normal;
  white-space: nowrap;
}

p {
  position: absolute;
  font-size: 10vh;
  bottom: 17vh;
  left: 8vw;
  font-weight: 600;
}

h3 {
  font-size: 4vh;
}

h4 {
  font-size: 3vh;
}

.SunriseTime {
  font-size: 5vh;
  color: white;
  position: absolute;
  top: 58vh;
  left: 40vw;
}

.Humidity {
  font-size: 5vh;
  color: white;
  position: absolute;
  top: 58vh;
  left: 48vw;
}

.WindSpeed {
  font-size: 5vh;
  color: white;
  position: absolute;
  top: 58vh;
  left: 53vw;
}

.MoonPhase {
  font-size: 6.5vh;
  color: white;
  position: absolute;
  top: 58vh;
  left: 62vw;
}

.SunsetTime {
  font-size: 6vh;
  color: white;
  position: absolute;
  top: 58vh;
  left: 69vw;
}

.Summary {
  font-size: 6vh;
  color: white;
  position: absolute;
  top: 72.5vh;
  left: 40vw;
  white-space: nowrap;
}

.Date {
  font-size: 4.5vh;
  color: white;
  position: absolute;
  top: 50vh;
  left: 15vw;
  font-weight: normal;
  white-space: nowrap;
}

@keyframes slideIn {
  0% {
    left: 95vw;
  }
  100% {
    left: 0;
  }
}
@keyframes slideInAlt {
  0% {
    left: -100vw;
  }
  100% {
    left: 0;
  }
}
@keyframes slideOutAlt {
  0% {
    left: 0;
  }
  100% {
    left: -100vw;
  }
}
@keyframes slideOutRight {
  0% {
    left: 0;
  }
  100% {
    left: 100vw;
  }
}
@keyframes slideOutRightAlt {
  0% {
    left: 0;
  }
  100% {
    left: 100vw;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

/*# sourceMappingURL=App.css.map */
